#body{
    background-color: darkslategray;
}

#questionButton {
    justify-self: center;
    padding: 5px;
    margin: 5px;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: chocolate;
    background-color: rgba(111, 150, 220, 0.392);
}

.textBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
}